{{! bigPostCard.hbs }}

<article class="relative isolate flex flex-col gap-8 lg:flex-row">
  <div class="relative lg:w-[38rem] lg:h-[24rem] lg:shrink-0 ml-16">
    <img src="{{ feature_image }}" alt="" class="absolute inset-0 w-full h-full bg-gray-50 object-cover  ring-1 ring-inset ring-gray-900/10">
  </div>
  <div class="">
    <div class="">
      <div class="flex items-center gap-x-4 text-xs">
        <h2 class="text-gray-500 text-2xl font-bold">Blog</h2>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
        <a href="{{allPostsURL}}" class="relative z-10 text-2xl px-3 py-1.5 font-bold text-blue-600 hover:bg-gray-100">Flow</a>
        <span>
          {{#foreach tags}}
            <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{name}}</a>
          {{/foreach}}
        </span>
      </div>
      <div class="group relative max-w-xl">
        <h1 class="mt-3 text-4xl hover:underline font-bold leading-6 text-gray-900 group-hover:text-gray-600">
          <a href="{{url}}">
            <span class="absolute inset-0"></span>
            {{title}}
          </a>
        </h1>
        <p class="mt-16 text-sm leading-6">{{excerpt}}</p>
      </div>
      <div class="flex items-center gap-x-4 text-xs mt-6">
        <time datetime="2020-03-16" class="text-gray-500">{{date format="D MMM YYYY"}}</time>
        </span>  {{reading_time}}</span>
        <a href="{{allPostsURL}}" class="hover:underline relative z-10 text-medium px-3 py-1.5 font-semibold hover:bg-gray-100 bg-gray-100">Flow</a>
      </div>

      <div class="mt-6 flex border-t border-gray-900/5 pt-6">
        <div class="relative flex items-center gap-x-4">
            <div class="h-16 w-16 rounded-full bg-blue-500 ring-2 ring-white">
          <img src="{{ authors.0.profile_image }}" alt="" class="h-16 w-16 rounded-full  bg-gray-50">
          </div>
          <div class="text-sm leading-6">
            <p class="font-bold text-lg text-blue-600 hover:underline">
              <a href="{{ authors.0.profile_url }}">
                <span class="absolute inset-0"></span>
                {{ authors.0.name }}
              </a>
            </p>
            <p class="text-gray-600">{{ authors.0.bio }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
