<section class="px-12 sm:px-16 pb-50 relative scroll-margin-top-40 pt-0">
    <div class="mx-auto px-20">
        <nav class="flex overflow-x: scroll gap-x-12 justify-between mx-auto border-b border-gray-500 pagination" role="navigation">
    <button class="text-gray-600 font-normal"><a href="/latest-updates/">Latest Updates</a></button>
    <button class="text-gray-600 font-normal hover-underline"><a href="/small-business/">Small Business</a></button>
    <button class="text-gray-600 hover-underline font-normal"><a href="/social-media-marketing/">Social Media Marketing</a></button>
    <button class="text-gray-600 cursor-pointer hover-underline font-normal"><a href="/news/">News</a></button>
    <button class="text-gray-600 cursor-pointer hover-underline font-normal"><a href="/podcasts/">Podcasts</a></button>
    <button class="text-gray-600 cursor-pointer hover-underline font-normal"><a href="/open-blog/">Open blog</a></button>
    <button class="text-gray-600 cursor-pointer hover-underline font-normal"><a href="/case-studies/">Case studies</a></button>
</nav>
        <hr class="mt-4"/>
        <!-- This is where the posts will be displayed -->
        {{#get "posts" filter="tags:[{{slug}}]" include="tags,authors"}}
        {{#foreach posts}}
        <div class="mt-6 flex border-t border-gray-900/5 pt-6">
            <div class="relative flex items-center gap-x-4">
                <div class="h-16 w-16 rounded-full bg-blue-500 ring-2 ring-white">
                    <img src="{{ feature_image }}" alt="" class="h-16 w-16 rounded-full bg-gray-50">
                </div>
                <div class="text-sm leading-6">
                    <p class="font-bold text-lg text-blue-600 hover:underline">
                        <a href="{{url}}">
                            <span class="absolute inset-0"></span>
                            {{title}}
                        </a>
                    </p>
                    <p class="text-gray-600">{{excerpt}}</p>
                </div>
            </div>
        </div>
        {{/foreach}}
        {{pagination}}
        {{/get}}
    </div>
</section>