<article class="flex flex-col items-start justify-between">
  <div class="relative w-full">
    {{#if feature_image}}
    <a
      href='{{url}}'
      title='{{title}}'
      aria-label='{{title}}'
    >
    <img src="{{ feature_image }}" alt="" 
    class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
    </a>
    {{/if}}
    <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
  </div>
  <div class="max-w-xl">
    <div class="mt-8 flex items-center gap-x-4 text-xs">
      <time datetime="2020-03-16" class="text-gray-500">{{date format="D MMM YYYY"}}</time>
      {{#foreach tags}}
      <a href='{{url}}' aria-label='{{title}}' class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{title}}</a>
      {{/foreach}}
    </div>
    <div class="group relative">
      <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
        <a href="{{url}}">
          <span class="absolute inset-0"></span>
          {{title}}
        </a>
      </h3>
      <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{excerpt}}</p>
    </div>
    <div class="relative mt-8 flex items-center gap-x-4">
      <img src="{{ authors.0.profile_image }}" alt="" class="h-10 w-10 rounded-full bg-gray-100">
      <div class="text-sm leading-6">
        <p class="font-semibold text-gray-900">
          <a href="#">
            <span class="absolute inset-0"></span>
            {{ authors.0.name }}
          </a>
        </p>
        <p class="text-gray-600">{{ authors.0.bio }}</p>
      </div>
    </div>
  </div>
</article>
