{{!< default}}


<div class="px-12">
        {{#author}}
        <header class="gh-page-head flex flex-col items-center justify-center">
    {{#if profile_image}}
        <img class="gh-author-image rounded-full h-52 w-52 object-cover" src="{{profile_image}}" alt="{{name}}" />
    {{/if}}

    <h1 class="text-center text-4xl font-bold">{{name}}</h1>
    {{#if bio}}
        <p class="text-center mt-4">{{bio}}</p>
    {{/if}}

    <div class="gh-author-meta ">
        <div class="gh-author-links flex items-center justify-center text-blue-600">
            {{#if website}}
                <a href="{{website}}" target="_blank" rel="noopener">Website</a>
            {{/if}}
            {{#if twitter}}
                <a href="{{twitter_url}}" target="_blank" rel="noopener">Twitter</a>
            {{/if}}
            {{#if facebook}}
                <a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a>
            {{/if}}
        </div>
    </div>
    <div class="author-meta mt-6 font-medium">
      {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
     </div>
</header>

        {{/author}}

        <div class="gh-postfeed mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        {{#foreach posts}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>
        <div class="flex items-center justify-center font-bold text-3xl mt-6">
    {{pagination}}
    </div>
    
    
    
